.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-left: 15px;
  margin-bottom: 15px;
}

.card {
  height: 165px;
  width: 155px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 15px !important;
  &:hover {
    animation: cardAnimation 1.5s linear infinite;
  }
}

@keyframes cardAnimation {
  0%,
  100% {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
  }
}
