.close {
  margin-right: 15px;
}

.flex {
  display: flex;
}

.container {
  display: flex;
  align-items: flex-start;
}

.homeworld {
  margin-left: 40px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.loader {
  justify-content: center;
}
